p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --second-text-color: #ffffff;
  --dark-logo-text: #000000;
  --light-logo-text: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header__logo {
  margin-right: 95px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__logo--dark {
  color: var(--dark-logo-text);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.light-logo {
  color: var(--light-logo-text);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.reasons-title {
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.about-title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.footer-title {
  margin-bottom: 20px;
  color: #ffffff;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color var(--duration) var(--timing-function);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.team-social-link {
  background-color: #ffffff;
}

.team-social-link:hover .social-icon,
.team-social-link:focus .social-icon {
  fill: #ffffff;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--duration) var(--timing-function);
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.order-btn {
  display: flex;
  align-items: center;
  padding: 10px 32px;
  margin: 0 auto;
  transition: background-color var(--duration) var(--timing-function);
}

.order-btn:hover {
  background-color: #188ce8;
}

.subscribe-form-btn {
  padding: 10px 28px;
}

.submit-btn {
  align-self: center;
  margin-top: 30px;
  padding: 10px 55px;
  transition: background-color var(--duration) var(--timing-function);
}

.submit-btn:hover, .submit-btn:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: scale(0.1);
  transition: transform 500ms;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
  padding: 40px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
}

.modal-btn:hover .close-btn,
.modal-btn:focus .close-btn {
  fill: var(--accent-color);
}

.close-btn {
  width: 18px;
  height: 18px;
  transition: fill var(--duration) var(--timing-function);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.modal-form-wrap {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  padding-left: 30px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--duration) var(--timing-function);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-form-coment {
  margin-bottom: 20px;
}

.user-coment {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border var(--duration) var(--timing-function);
}

.user-coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.user-coment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--duration) var(--timing-function);
}

.modal-form-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;
}

.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 2px;
}

.modal-checkbox:checked + .modal-form-checkbox-label::before {
  background-color: var(--accent-color);
  border: 0;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: padding-box;
}

.modal-checkbox:focus + .modal-form-checkbox-label::before {
  border-color: var(--accent-color);
}

.checkbox-link {
  margin-left: 5px;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
  padding-bottom: 24px;
  padding-top: 24px;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--duration) var(--timing-function);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  bottom: -33px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.haeder-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition: color var(--duration) var(--timing-function);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}

.header-contacts__link:hover .header-contacts__icon--envelope,
.header-contacts__link:focus .header-contacts__icon--envelope {
  fill: var(--accent-color);
}

.header-contacts__link:hover .header-contacts__icon--smartphone,
.header-contacts__link:focus .header-contacts__icon--smartphone {
  fill: var(--accent-color);
}

.haeder-contacts__item:not(:first-child) {
  margin-left: 50px;
}

.header-contacts__icon--envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill var(--duration) var(--timing-function);
}

.header-contacts__icon--smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: color var(--duration) var(--timing-function);
}

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  max-width: 1600px;
  margin: auto;
  height: 600px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 30px;
}

.reasons {
  padding: 94px 0;
}

.reasons-list {
  display: flex;
}

.reasons-list .list {
  width: 270px;
}

.reasons-list .list:not(:last-child) {
  margin-right: 30px;
}

.reasons-icons-container {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.reasons-icon {
  width: 70px;
  height: 70px;
}

.reasons-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.about-img {
  display: flex;
}

.about-img .list:not(:last-child) {
  margin-right: 30px;
}

.about-item {
  position: relative;
}

.about {
  padding-bottom: 94px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.team-card {
  flex-basis: calc(100% / 4 - 30px);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.client-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.client-item:last-child {
  margin-right: 0;
}

.client-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function);
}

.client-link:hover, .client-link:focus {
  border-color: var(--accent-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill var(--duration) var(--timing-function);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 70px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 9px;
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  transition: color var(--duration) var(--timing-function);
}

.footer-contacts:hover, .footer-contacts:focus {
  color: var(--accent-color);
}

.subscribe-form {
  margin-left: 93px;
}

.subscribe-form-input {
  min-width: 358px;
  min-height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribe-form-input:focus {
  outline: none;
}

.subscribe-icon {
  width: 24px;
  height: 24px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.btn-filter-item:not(:last-child) {
  margin-right: 8px;
}

.btn-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
  padding: 6px 22px;
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
}

.btn-filter:hover, .btn-filter:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active:active {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}

.project {
  padding: 22px 24px 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  background: #ffffff;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-item {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.project-link {
  display: block;
  transition: box-shadow var(--duration) var(--timing-function);
}

.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
  transform: translateY(-100%);
}

.project-image {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  display: block;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--duration) var(--timing-function);
}
/*# sourceMappingURL=main.css.map */