.about {
  @media screen and (max-width: 1199px) {
    display: none;
    }

    padding-bottom: 94px;
}

.about-img {
  display: flex;
  flex-wrap: wrap;
}

.about-wrap{
  position: relative;
}

.about-item  {

  &:not(:last-child) {
    margin-right: 30px;
  }
  
}
