.clients {
  padding: 60px 0;

  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }
}

.clients-list {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.client-item {
  height: 92px;
  
  @media screen and (max-width: 1199px) {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 5 * 30px) / 6);
  }

  &:not(:last-child) {
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }
}

.client-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &:hover .client-icon,
  &:focus .client-icon {
    fill: var(--accent-color);
  }
}
.client-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill var(--duration) var(--timing-function);
}
