.clients {
  padding: 60px 0;

  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.client-item {
  height: 92px;
  margin: 15px;
  flex-basis: calc(100% / 2 - 30px);
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
    margin-bottom: 0;
    margin-top: 0;
  }
}

.client-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &:hover .client-icon,
  &:focus .client-icon {
    fill: var(--accent-color);
  }
}
.client-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill var(--duration) var(--timing-function);
}
