.reasons {
  padding: 60px 0;

  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }
}

.reasons-list {
   @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
}

.reasons-list .list {
  @media screen and(min-width: 768px) {
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 4 - 30px);
    }
}

.reasons-icons-container {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.reasons-icon {
  width: 70px;
  height: 70px;
}

.reasons-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
