.reasons {
  padding: 60px 0;

  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }
}

.reasons-list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.reasons-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width: $tablet) and (max-width: 1199px) {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 3 * 30px) / 4);
  }

  &:not(:last-child) { 
    @media screen and (min-width: $desktop) {
    margin-right: 30px;}
  }

}

.reasons-icons-container {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.reasons-icon {
  width: 70px;
  height: 70px;
}

.reasons-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
