.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.modal-form-wrap {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  padding-left: 30px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--duration) var(--timing-function);

  &:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
}

.modal-form-coment {
  margin-bottom: 20px;
}

.user-coment {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border var(--duration) var(--timing-function);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--duration) var(--timing-function);

  .modal-form-input:focus + & {
  fill: var(--accent-color);
}
}

.modal-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;

  &::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 2px;
}

.modal-checkbox:checked + &::before {
  background-color: var(--accent-color);
  border: 0;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: padding-box;
}

.modal-checkbox:focus + &::before {
  border-color: var(--accent-color);
}
}

.checkbox-link {
  margin-left: 5px;
  text-decoration-line: underline;
  color: var(--accent-color);
}
