.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header__logo {
  margin-right: 95px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.header__logo--dark {
  color: var(--dark-logo-text);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.light-logo {
  color: var(--light-logo-text);
}

