.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.reasons-title {
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.about-title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.footer-title {
  margin-bottom: 20px;
  color: #ffffff;
}


