:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --second-text-color: #ffffff;
  --dark-logo-text: #000000;
  --light-logo-text: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}